* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    user-select: none;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(245, 50, 50);
    border-radius: 5px;
}

div.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: min-content;
    min-height: min-content;
}

.mainContent div.contentWindow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    height: 475px;
}

.contentWindow div.titleWindow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 400px;
    height: max-content;
    margin-right: 100px;
}

.titleWindow text.titleText {
    font-size: 3rem;
    color: rgb(10, 10, 10);
}

.titleWindow text.infoText {
    margin-top: 20px;
    font-size: 1.5rem;
    color: rgb(120, 120, 120);
}

.contentWindow div.formWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    height: 100%;
    padding: 0 40px;
    border-radius: 2.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    background: rgb(175, 0, 0);
    background: linear-gradient(135deg, rgb(175, 0, 0) 0%, rgb(245, 35, 35) 80%);
}

.formWindow div.formHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 20px 0;
}

.formHeader text.headerText {
    font-size: 2.5rem;
    color: rgb(235, 235, 235);
}

.formWindow div.formContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.formContent form.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: max-content;
}

.form .normal {
    color: rgb(235, 235, 235);
}

.form .error {
    color: rgb(255, 140, 140);
}

.form label.inputLabel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 30px;
}

.form input.inputField {
    width: 300px;
    height: 35px;
    padding: 0 5px 0 5px;
    outline: none;
    border: none;
    border-radius: 2.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    transition: all .2s ease-in-out;
}

.form div.checkboxField {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: 30px;
    color: rgb(235, 235, 235);
}

.checkboxField label.checkboxLabel {
    margin-left: 10px;
}

.form div.btnGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    margin-top: 40px;
}

.btnGroup button.formBtn {
    width: 125px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    color: rgb(235, 235, 235);
    transition: all .2s ease-in-out;
}

.btnGroup button.formBtn.transparent {
    background-color: transparent;
}

.btnGroup button.formBtn.focused {
    background-color: rgb(245, 50, 50);
}

.btnGroup button.formBtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    transition: all .2s ease-in-out;
}

.form text.errorText {
    width: 300px;
    height: max-content;
    visibility: hidden;
    text-align: center;
    margin-top: 20px;
}

.formWindow div.formFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 15px 0;
}

.formFooter text.footerText {
    font-size: 0.75rem;
    color: rgb(235, 235, 235);
}
