@keyframes fade {
    from {
        opacity: 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    user-select: none;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(245, 50, 50);
    border-radius: 5px;
}

hr.solid {
    display: block;
    width: calc(100% - 10px);
    margin: 5px 0 5px 0;
    border: 0;
    border-top: 2px solid rgb(180, 180, 180);
}

div.header {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    min-width: min-content;
    min-height: min-content;
    padding: 10px 20px 10px 40px;
    background: rgb(175, 0, 0);
    background: linear-gradient(135deg, rgb(175, 0, 0) 0%, rgb(245, 35, 35) 100%);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
}

.header button.headerLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    height: max-content;
    background-color: transparent;
    outline: none;
    border: none;
}

.header button.headerLeft:hover {
    cursor: pointer;
}

.headerLeft img.headerImg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.headerLeft text.headerText {
    width: max-content;
    font-size: 2rem;
    color: rgb(235, 235, 235);
}

.header div.headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: max-content;
    height: max-content;
}

.headerRight button.redirectBtn {
    width: 110px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.1rem;
    color: rgb(235, 235, 235);
    transition: all .2s ease-in-out;
}

.headerRight button.redirectBtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.headerRight button.redirectBtn:focus {
    background-color: rgb(245, 50, 50);
    transition: all .2s ease-in-out;
}

div.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainContent div.leftPanel {
    z-index: 90;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: max-content;
    height: 100%;
    min-width: min-content;
    min-height: min-content;
    padding: 20px;
    background: rgb(200, 200, 200);
    background: linear-gradient(135deg, rgb(200, 200, 200) 0%, rgb(230, 230, 230) 100%);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
}

.leftPanel div.leftPanelBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    height: max-content;
}

.leftPanelBtns button.leftPanelBtn {
    width: 170px;
    height: 35px;
    margin: 5px 0 5px 0;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.1rem;
    color: rgb(10, 10, 10);
    transition: all .2s ease-in-out;
}

.leftPanelBtns button.leftPanelBtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.leftPanelBtns button.leftPanelBtn.active {
    color: rgb(235, 235, 235);
    background-color: rgb(245, 50, 50);
    transition: all .2s ease-in-out;
}

.mainContent div.rightPanel {
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in-out;
}

.mainContent div.rightPanel.hidden {
    opacity: 0;
    transition: all .2s ease-in-out;
}

.rightPanel div.welcomeScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    animation: fade .2s ease-in-out;
}

.welcomeScreen div.rightPanelTextBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    margin: 5px;
}

.rightPanelTextBox text.greetings {
    font-size: 3rem;
    color: rgb(10, 10, 10);
    text-align: center;
}

.rightPanelTextBox text.info {
    font-size: 1.5rem;
    color: rgb(120, 120, 120);
    text-align: center;
}

div.footer {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    min-width: min-content;
    min-height: min-content;
    padding: 7px 0;
    background: linear-gradient(135deg, rgb(170, 170, 170) 0%, rgb(200, 200, 200) 100%);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
}

.footer text.footerText {
    width: max-content;
    font-size: 0.75rem;
    color: rgb(10, 10, 10);
    text-align: center;
}

@media screen and (max-width: 600px) {
    /* ... */
}
