* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    user-select: none;
}

html {
    touch-action: none;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(245, 50, 50);
    border-radius: 5px;
}

div.mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-width: min-content;
    min-height: min-content;
}

div.mainContent > div.contentWindow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    height: 475px;
}

div.contentWindow > div.titleWindow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 400px;
    height: max-content;
    margin-right: 100px;
}

div.titleWindow > text.titleText {
    font-size: 3rem;
    color: rgb(10, 10, 10);
}

div.titleWindow > text.infoText {
    margin-top: 20px;
    font-size: 1.5rem;
    color: rgb(120, 120, 120);
}

div.contentWindow > div.formWindow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: max-content;
    height: 100%;
    padding: 0 40px;
    border-radius: 2.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    background: rgb(175, 0, 0);
    background: linear-gradient(135deg, rgb(175, 0, 0) 0%, rgb(245, 35, 35) 80%);
}

div.formWindow > div.formHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 20px 0;
}

div.formHeader > text.headerText {
    font-size: 2.5rem;
    color: rgb(235, 235, 235);
}

div.formWindow > div.formContent {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

div.formContent > form.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: max-content;
}

form.form .normal { color: rgb(235, 235, 235); }

form.form .error {
    padding: 0 2px;
    color: rgb(255, 20, 20);
    border-radius: 2.5px;
    background-color: rgb(235, 235, 235);
}

form.form > label.inputLabel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    height: max-content;
    margin: 5px 0;
}

form.form > input.inputField {
    width: 300px;
    height: 35px;
    padding: 0 5px;
    outline: none;
    border: none;
    border-radius: 2.5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
}

form.form > div.checkboxField {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 300px;
    height: max-content;
    margin: 5px 0;
    color: rgb(235, 235, 235);
}

div.checkboxField > label.checkboxLabel { margin-left: 10px; }

form.form > div.btnGroup {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    margin-top: 40px;
}

div.btnGroup > button.formBtn {
    width: 125px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    color: rgb(235, 235, 235);
    transition: box-shadow .2s ease-in-out;
}

div.btnGroup > button.formBtn.transparent {
    background-color: transparent;
}

div.btnGroup > button.formBtn.focused {
    background-color: rgb(245, 50, 50);
}

div.btnGroup > button.formBtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
}

form.form > text.errorText {
    width: 300px;
    height: max-content;
    visibility: hidden;
    text-align: center;
    margin-top: 20px;
}

div.formWindow > div.formFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    padding: 15px 0;
}

div.formFooter > text.footerText {
    font-size: 0.75rem;
    color: rgb(235, 235, 235);
}

@media screen and (max-width: 990px) {
    div.mainContent > div.contentWindow { height: 400px; }

    div.contentWindow > div.titleWindow { 
        width: 350px;
        margin-right: 25px;
    }

    div.titleWindow > text.titleText { font-size: 2.5rem; }
    div.titleWindow > text.infoText { font-size: 1.25rem; }

    div.contentWindow > div.formWindow { padding: 0 35px; }
    div.formWindow > div.formHeader { padding: 15px 0; }
    div.formHeader > text.headerText { font-size: 2rem; }

    form.form > label.inputLabel { font-size: 0.9rem; }

    form.form > input.inputField { 
        width: 250px;
        height: 30px; 
    }

    form.form > div.checkboxField { width: 250px; }
    div.checkboxField > label.checkboxLabel { font-size: 0.9rem; }

    form.form > div.btnGroup {
        width: 250px; 
        margin-top: 35px;
    }

    div.btnGroup > button.formBtn { 
        width: 100px; 
        height: 35px;
        font-size: 1rem;
    }

    form.form > text.errorText { 
        width: 250px;
        font-size: 0.9rem;
    }

    div.formWindow > div.formFooter { padding: 12.5px 0; }
    div.formFooter > text.footerText { font-size: 0.6rem; }
}

@media screen and (max-width: 768px) {
    div.mainContent > div.contentWindow {
        flex-direction: column;
        width: 100%;
        height: 560px;
    }

    div.contentWindow > div.titleWindow { 
        width: 300px;
        margin-right: unset;
        margin-bottom: 20px;
    }

    div.titleWindow > text.titleText { 
        font-size: 2rem;
        text-align: center;
    }

    div.titleWindow > text.infoText { 
        font-size: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    div.mainContent > div.contentWindow {
        height: 100%;
    }

    div.contentWindow > div.titleWindow { margin-top: 20px; }

    div.contentWindow > div.formWindow {
        width: 100%;
        border-radius: unset;
    }
}

@media screen and (max-width: 375px) {
    div.contentWindow > div.titleWindow { 
        width: 250px;
        margin-top: 10px; 
        margin-bottom: 10px;
    }

    div.titleWindow > text.titleText { 
        font-size: 1.75rem;
    }

    div.titleWindow > text.infoText { 
        font-size: 0.9rem;
        margin-top: 10px;
    }

    div.formWindow > div.formHeader { padding: 10px 0; }
    div.formHeader > text.headerText { font-size: 1.75rem; }

    form.form > label.inputLabel { font-size: 0.8rem; }
    form.form > input.inputField { 
        width: 220px;
        height: 27.5px;
    }

    form.form > div.checkboxField { width: 220px; }
    div.checkboxField > label.checkboxLabel { font-size: 0.8rem; }

    form.form > div.btnGroup {
        width: 220px;
        margin-top: 25px;
    }

    div.btnGroup > button.formBtn { 
        width: 85px; 
        height: 30px;
        font-size: 0.9rem;
    }

    form.form > text.errorText { 
        width: 220px;
        margin-top: 10px;
        font-size: 0.8rem;
    }

    div.formWindow > div.formFooter { padding: 10px 0; }
    div.formFooter > text.footerText { font-size: 0.55rem; }
}
