@keyframes fade {
    from {
        opacity: 0;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    user-select: text;
}

*:active { -webkit-tap-highlight-color: transparent; }

html {
    touch-action: none;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(245, 50, 50);
    border-radius: 5px;
}

hr.solid {
    display: block;
    width: 100%;
    margin: 5px 0;
    border: 0;
    border-top: 2px solid rgb(180, 180, 180);
}

div.header {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    min-width: min-content;
    min-height: min-content;
    padding: 10px 20px 10px 40px;
    background: rgb(175, 0, 0);
    background: linear-gradient(135deg, rgb(175, 0, 0) 0%, rgb(245, 35, 35) 100%);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
}

.header button.headerLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    height: max-content;
    background-color: transparent;
    outline: none;
    border: none;
}

.header button.headerLeft:hover { cursor: pointer; }

.headerLeft img.headerImg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.headerLeft div.headerText {
    width: max-content;
    font-size: 2rem;
    color: rgb(235, 235, 235);
}

.header div.headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: max-content;
    height: max-content;
}

.headerRight button.redirectBtn {
    width: 110px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.1rem;
    color: rgb(235, 235, 235);
    transition: box-shadow .2s ease-in-out, 
                color .2s ease-in-out,
                background-color .2s ease-in-out;
}

.headerRight button.redirectBtn img {
    display: none;
    transition: filter .2s ease-in-out;
}

.headerRight button.redirectBtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
    transition: box-shadow .2s ease-in-out, 
                color .2s ease-in-out,
                background-color .2s ease-in-out;
}

.headerRight button.redirectBtn:focus {
    background-color: rgb(245, 50, 50);
    transition: box-shadow .2s ease-in-out, 
                color .2s ease-in-out,
                background-color .2s ease-in-out;
}

div.mainContent {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mainContent div.leftPanel {
    z-index: 90;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: max-content;
    height: 100%;
    min-width: min-content;
    min-height: min-content;
    padding: 15px;
    background: rgb(210, 210, 210);
    background: linear-gradient(135deg, rgb(210, 210, 210) 0%, rgb(240, 240, 240) 100%);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
}

.leftPanel div.leftPanelBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    height: max-content;
}

.leftPanelBtns button.leftPanelBtn {
    width: 170px;
    height: 35px;
    margin: 5px 0 5px 0;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    font-size: 1.1rem;
    color: rgb(10, 10, 10);
    transition: box-shadow .2s ease-in-out, 
                color .2s ease-in-out,
                background-color .2s ease-in-out;
}

.leftPanelBtns button.leftPanelBtn img {
    display: none;
    transition: filter .2s ease-in-out;
}

.leftPanelBtns button.leftPanelBtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    cursor: pointer;
    transition: box-shadow .2s ease-in-out, 
                color .2s ease-in-out,
                background-color .2s ease-in-out;
}

.leftPanelBtns button.leftPanelBtn.active {
    color: rgb(235, 235, 235);
    background-color: rgb(245, 50, 50);
    transition: box-shadow .2s ease-in-out, 
                color .2s ease-in-out,
                background-color .2s ease-in-out;
}

.mainContent div.rightPanel {
    z-index: 80;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: opacity .2s ease-in-out;
}

.mainContent div.rightPanel.hidden {
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.rightPanel div.welcomeScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    animation: fade .2s ease-in-out;
}

.welcomeScreen div.rightPanelTextBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    margin: 5px;
}

.rightPanelTextBox text.greetings {
    font-size: 3rem;
    color: rgb(10, 10, 10);
    text-align: center;
}

.rightPanelTextBox text.info {
    font-size: 1.5rem;
    color: rgb(120, 120, 120);
    text-align: center;
}

div.footer {
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: max-content;
    min-width: min-content;
    min-height: min-content;
    padding: 7px 0;
    background: linear-gradient(135deg, rgb(170, 170, 170) 0%, rgb(200, 200, 200) 100%);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.15);
}

.footer text.footerText {
    width: max-content;
    font-size: 0.75rem;
    color: rgb(10, 10, 10);
    text-align: center;
}

@media screen and (max-width: 1132px) {
    div.mainContent {
        align-items: center;
        flex-direction: column;
    }

    .mainContent div.leftPanel {
        width: 100%;
        height: max-content;
        padding: 0 15px;
    }

    .leftPanel div.leftPanelBtns {
        flex-direction: row;
        justify-content: center;
    }

    #leftPanelDivider1 { display: none; }
    #leftPanelDivider2 { display: none; }

    .leftPanelBtns button.leftPanelBtn {
        width: 150px;
        margin: 5px;
    }

    .mainContent div.rightPanel { min-height: 0; }
}

@media screen and (max-width: 990px) {
    div.mainContent { flex-direction: column-reverse; }

    .leftPanel div.leftPanelBtns {
        justify-content: space-around;
        width: 100%;
    }
    
    .leftPanelBtns button.leftPanelBtn {
        width: 100%;
        min-width: 35px;
    }

    .leftPanelBtns button.leftPanelBtn img {
        display: unset;
        width: 35px;
    }

    .leftPanelBtns button.leftPanelBtn.active img {
        filter: brightness(0) saturate(100%) 
                invert(100%) sepia(7%) saturate(281%) 
                hue-rotate(183deg) brightness(116%) 
                contrast(84%);
    }

    .leftPanelBtns button.leftPanelBtn span { display: none; }

    .rightPanel div.welcomeScreen { padding: 30px; }
    .rightPanelTextBox text.greetings { font-size: 2.5rem; }
    .rightPanelTextBox text.info { font-size: 1.25rem; }

    .footer text.footerText { font-size: 0.6rem; }
}

@media screen and (max-width: 682px) {
    div.header { padding: 10px 10px 10px 20px; }

    .headerLeft div.headerText span { display: none; }

    .headerLeft div.headerText:after { content: "MTP"; }

    .headerRight #accountBtn { width: 35px; }

    .headerRight #accountBtn img {
        display: unset;
        width: 35px;
    }

    .headerRight #accountBtn span { display: none; }

    .headerRight #logoutBtn { width: 90px; }

    .rightPanelTextBox text.greetings { font-size: 2rem; }
    .rightPanelTextBox text.info { font-size: 1rem; }
}

@media screen and (max-width: 425px) {
    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
}

@media screen and (max-width: 375px) {
    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    .rightPanelTextBox text.greetings { font-size: 1.75rem; }
    .rightPanelTextBox text.info { font-size: 0.9rem; }

    .footer text.footerText { font-size: 0.55rem; }
}
