@keyframes fade {
    from {
        opacity: 0;
    }
}

div.clinics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    animation: fade .2s ease-in-out;
}

.clinics div.clinicsContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.clinicsContent div.mapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.mapContainer div.mapContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.mapContent div.zoomContainer {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: overlay;
}

.zoomContainer div.zoomableContent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform-origin: top left;
}

.zoomableContent img.mapImg {
    width: unset;
    height: 95%;
    position: absolute;
    object-fit: contain;
    opacity: 0;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.05));
    transition: opacity .2s ease-in-out;
}

.zoomableContent img.userPin {
    z-index: 1;
    height: 36px;
    position: absolute;
    object-fit: contain;
    opacity: 0;
    transform-origin: bottom center;
    transition: opacity .2s ease-in-out;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.zoomableContent img.userPin:hover { cursor: pointer; }

.zoomableContent img.clinicPin {
    height: 36px;
    position: absolute;
    object-fit: contain;
    opacity: 0;
    transform-origin: bottom center;
    transition: opacity .2s ease-in-out;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.zoomableContent img.clinicPin:hover { cursor: pointer; }

.mapContent div.mapFooterDashboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: max-content;
    min-width: min-content;
    padding: 0 65px;
    position: absolute;
    bottom: 20px;
}

.mapFooterDashboard div.footerDashboardLeft { display: flex; }

.footerDashboardLeft div.searchFieldContainer {
    display: flex;
    align-items: center;
    width: 300px;
    height: 30px;
    margin: 0 5px;
    padding: 0 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(245, 50, 50);
    border-width: 2px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    overflow: hidden;
    transition: box-shadow .2s ease-in-out;
}

.footerDashboardLeft div.searchFieldContainer:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    transition: box-shadow .2s ease-in-out;
}

.searchFieldContainer input.searchField {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    outline: none;
    border: none;
    background-color: transparent;
}

.searchFieldContainer label.searchFieldLabel {
    width: max-content;
    height: max-content;
}

.searchFieldContainer label.searchFieldLabel img { display: none; }

.footerDashboardLeft button.actionBtnLng {
    width: 60px;
    height: 30px;
    min-width: 60px;
    margin: 0 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(245, 50, 50);
    font-size: 1.05rem;
    color: rgb(235, 235, 235);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    transition: box-shadow .2s ease-in-out;
}

.footerDashboardLeft button.actionBtnLng img { display: none; }

.footerDashboardLeft button.actionBtnLng:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
}

.mapFooterDashboard div.footerDashboardRight { display: flex; }

.footerDashboardRight img.actionBtnSqr {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(245, 50, 50);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    transition: all .2s ease-in-out;
}

.footerDashboardRight img.actionBtnSqr:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.clinicsContent div.filterContainer {
    z-index: 2;
    display: none;
    flex-wrap: wrap;
    width: 370px;
    height: max-content;
    position: absolute;
    bottom: 60px;
    left: 70px;
    padding: 7.5px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(245, 50, 50);
    border-width: 2px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.04);
    overflow: overlay;
    transition: opacity .2s ease-in-out, box-shadow .2s ease-in-out;
    animation: fade .2s ease-in-out;
}

.clinicsContent div.filterContainer:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
    transition: box-shadow .2s ease-in-out;
}

.filterContainer div.checkboxField {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex: 0 0 50%;
    height: min-content;
    padding: 2.5px;
    color: rgb(10, 10, 10);
}

.checkboxField input.checkboxInput {
    display: flex;
    margin-top: 3px;
}

.checkboxField label.checkboxLabel {
    display: flex;
    margin-left: 5px;
    font-size: 0.9rem;
}

@media screen and (max-width: 682px) {
    .mapContent div.mapFooterDashboard { padding: 0 25px; }

    .footerDashboardLeft div.searchFieldContainer { width: 330px; }

    .footerDashboardLeft button.actionBtnLng {
        width: 30px;
        min-width: 30px;
    }

    .footerDashboardLeft button.actionBtnLng img {
        display: flex;
        width: 30px;
    }

    .footerDashboardLeft button.actionBtnLng span { display: none; }

    .clinicsContent div.filterContainer { left: 30px; }
}

@media screen and (max-width: 550px) {
    .mapFooterDashboard div.footerDashboardLeft { width: 100%; }

    .footerDashboardLeft div.searchFieldContainer { width: 100%; }

    .searchFieldContainer label.searchFieldLabel img {
        display: flex;
        width: 30px;
    }

    .searchFieldContainer label.searchFieldLabel span { display: none; }

    .clinicsContent div.filterContainer { 
        max-width: calc(100% - 60px);
        max-height: calc(100% - 90px);
        min-width: 210px;
    }
}

@media screen and (max-width: 375px) {
    .mapContent div.mapFooterDashboard { padding: 0 10px; }
}
