.windowContent dl.clinicDescription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: max-content;
}

.clinicDescription dt.categoryName {
    margin-top: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(10, 10, 10);
}

.clinicDescription dd.categoryDesc {
    margin-bottom: 10px;
    font-size: 1rem;
    color: rgb(10, 10, 10);
}

.categoryDesc ul.categoryDescList {
    margin-left: 20px;
}

@media screen and (max-width: 375px) {
    .windowContent dl.clinicDescription {
        overflow: overlay;
    }

    .clinicDescription dt.categoryName {
        margin-top: 5px;
        font-size: 0.9rem;
    }

    .clinicDescription dd.categoryDesc {
        margin-bottom: 5px;
        font-size: 0.9rem;
    }

    .categoryDesc ul.categoryDescList { margin-left: 20px; }
}
